{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block extra_link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/search.css' %}" />
{% endblock  %}
{% block body %}
<body>
    <!-- Search result -->

    <div class="main-content container">
    <div class="mt-3">
      <div class="d-flex flex-column">
      {% if tag %}
      {% for video in video.video.all %}
        <a href='/play_C={{video.channel.namews}}_V={{video.id2}}' class="d-flex mb-2 video-card">
          <img class="search-thumbnail" src="{{video.thumbnail}}">
          <div class="d-flex flex-column ms-3">
            <p class="h4 title">{{video.title}}</p>
            <p class="text-muted">{{video.total_views}} views . {{video.datetime|timesince}} ago</p>
            <div class="d-flex">
              <img class="search-channel-logo" src="{{video.channel.logo}}">
              <p class="ms-2 mt-2 channel-name">{{video.channel.channel_name}}</p>
            </div>
          </div>
        </a>
      {% endfor %}
      {% else %}
      {% for video in video %}
      <a href='/play_C={{video.channel.namews}}_V={{video.id2}}' class="d-flex mb-2 video-card">
          <img class="search-thumbnail" src="{{video.thumbnail}}">
          <div class="d-flex flex-column ms-3">
            <p class="h4 title">{{video.title}}</p>
            <p class="text-muted">{{video.total_views}} views . {{video.datetime|timesince}} ago</p>
            <div class="d-flex">
              <img class="search-channel-logo" src="{{video.channel.logo}}">
              <p class="ms-2 mt-2">{{video.channel.channel_name}}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      {% endif %}
      </div>
      </div>
    </div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.js"></script>



<script>
window.addEventListener("scroll", (event) => {
    let scroll = this.scrollY;
    console.log(scroll);
});
</script>


<script>
    document.getElementById("searchbox").value = "{{value}}";
</script>

  </body>
{% endblock %}