/* .main-content{
  display: none;
} */

.main-content .sidenav{
  display: none;
}

  .dashboard-sidenav {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 170px;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    background: white;
    z-index: 110;
  }

  .dashboard-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 109;
    visibility: hidden;
  }

  table .sticky-top{
    z-index: 108;
  }

  .search-input{
    z-index: 107;
    position: sticky;
    left: 0;
  }

  .dashboard-sidenav-logo{
    padding-left: 15px;
    padding-bottom: 15px;
    display: none;
  }

  .dashboard-sidenav::-webkit-scrollbar {
    width: 4px;
    margin-left: 5px;
  }

  .dashboard-sidenav::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.2);
    border-left: 1px solid rgba(128, 128, 128, 0.301);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .dashboard-sidenav::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
  }

  .dashboard-sidenav div {
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 5px solid rgba(0, 0, 0, 0);
  }
  .dashboard-sidenav div i {
    color: gray;
    font-size: 20px;
  }
  .dashboard-sidenav div:hover {
    background: rgba(0, 81, 12, 0.3);
    border-left: 5px solid rgba(0, 81, 12, 0.4);
  }
  body {
    overflow: hidden;
  }

  .dashboard-sidenav div.active {
    border-left: 5px solid rgb(0, 81, 12);
    background: rgba(0, 81, 12, 0.2);
  }

  .dashboard-sidenav div.active i,
  .dashboard-sidenav div.active p {
    color: rgb(0, 81, 12);
  }

  .dashboard-content.active .dashboard-sidenav {
    width: 52px;
    transition: 0.3s;
  }

  .dashboard-content.active .tab-content {
    margin-left: 60px;
    transition: 0.3s;
  }

  
  /* .tab-content {
    position: absolute;
    top: 52px;
    padding-top: 15px;
    right: 0;
    left: 0;
    bottom: 0;
  } */

  /* .dashboard-section{
      position: absolute;
      top: 65px;
      bottom: 0;
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;
  } */

  .dashboard-content.active .dashboard-sidenav div p {
    padding-left: 10px;
    transition: 0.3s;
  }

  .top-video{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .tab-content {
    position: absolute;
    top: 52px;
    padding-top: 15px;
    left: 0px;
    margin-left: 170px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
  }

  .extra-div{
    height: 0;
    padding-left: 5px;
    border-left: 1px solid rgba(128, 128, 128, 0.322);
    border-right: 1px solid rgba(128, 128, 128, 0.322);
    visibility: hidden;
    transition: 0.2s;
  }

  .thumbnail {
    width: 90px;
    height: 55px;
  }

  .video-title{
    margin-left: -100px;
    min-width: 250px;
    max-width: 450px;
    height: 55px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  tr .action{
    visibility: hidden;
  }

  tr .action i:hover{
    cursor: pointer;
  }

  tr .date{
    min-width: 130px;
  }

  tr:hover .video-title{
    visibility: hidden;
  }

  tr:hover .action{
    visibility: visible;
  }

  /* .title {
    width: 400px;
  } */

  .fa-trash {
    color: red;
  }

  .number {
    border-radius: 6px;
    padding: 10px;
    color: white;
    height: 100px;
  }

  .video {
    background: #198754;
  }

  .follower {
    background: #0d6efd;
  }

  .questionanswer {
    background: #6f42c1;
  }

  .folder {
    background: #20c997;
  }

  .fa-icon {
    margin-top: 0;
    margin-left: -20px;
    color: rgba(250, 250, 250, 0.3);
    font-size: 130px;
  }

  .zmdi {
    font-weight: 900;
  }

  .analyze-select {
    width: 150px;
    border-top-right-radius: 15px;
    border: none;
    font-weight: bold;
    color: rgb(148, 161, 186);
    background: rgba(179, 187, 204, 0.25);
  }

  .analyze-select:hover {
    cursor: pointer;
  }

  .analyze-select:focus {
    box-shadow: none;
  }

  .chart {
    max-height: 300px;
  }

  .analysis-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    background: rgb(67, 82, 112);
  }

  .chart-div {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.15),
      -5px 0px 10px 1px rgba(0, 0, 0, 0.15);
  }

  .totalview {
    color: blue;
  }

  .totallike {
    color: green;
  }

  .folder-thumbnail {
    object-fit: cover;
    width: 100%;
    max-height: 170px;
    height: auto;
  }

  .folder-time {
    position: relative;
    color: white;
    font-size: 30px;
    top: -160px;
    justify-content: center;
    height: 45px;
    background: rgba(0, 16, 56, 0.8);
    margin-bottom: -50px;
  }

  .card .dropdown:hover .folder-info-btn {
    visibility: visible;
  }

  .folder-info-btn {
    color: white;
    visibility: hidden;
    position: absolute;
    top: 65px;
    left: 146px;
    opacity: 1;
    cursor: pointer;
    transition-delay: 0.2s;
  }

  .card .dropdown:hover .folder-edit-btn {
    visibility: visible;
  }

  .folder-edit-btn {
    color: white;
    visibility: hidden;
    position: absolute;
    top: 82px;
    left: 160px;
    opacity: 1;
    cursor: pointer;
    transition-delay: 0.2s;
    color: green;
  }

  .crying {
    font-size: 50px;
    color: gray;
    margin-bottom: 10px;
  }

  .table-div{
    overflow-x: auto;
  }





  /* Delete confirm dashboard */

  .modal-thumbnail{
    height: 86px;
    width: 135px;
  }

  .modal-video-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 50px;
    font-weight: bold;
    margin-top: -5px;
  }

  .modal-datetime{
    margin-top: -12px;
  }

  .modal-views{
    margin-top: -18px;
  }

  .alert-bottom{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: auto;
  }

  /* #myInput {
    margin-left: -8px;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3AVector_search_icon.svg&psig=AOvVaw3gyts0isZonXG9Zog5XurG&ust=1638337222113000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCPDJj_Ovv_QCFQAAAAAdAAAAABAJ');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 15px;
    padding: 3px 5px 3px 10px;
    border: 1px solid rgb(202, 201, 201);
  } */

  /* #myInput:focus{
    border: none;
  } */

  #myInput{
    width: 100%;
  }

  .video-table{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    transition: 0.3s;
  }

  /* .video-table table{
    margin-left: 15px;
  } */

  .col1{
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 15px;
  }

  .col2{
    position: -webkit-sticky;
    position: sticky;
    left: 30px;
  }

  .col3{
    position: -webkit-sticky;
    position: sticky;
    left: 135px;
  }

  .dashboard-content.active .video-table{
    margin-left: -118px;
    transition: 0.3s;
  }


  @media screen and (max-width: 700px) {
    .dashboard-sidenav {
      position: absolute;
      top: 0;
      width: 170px;
      transition: 0.3s;
      z-index: 110;
    }

    .dashboard-sidenav-logo{
      display: block;
    }

    .dashboard-content.active .dashboard-sidenav{
      width: 0px;
    }

    .dashboard-sidenav div p {
      padding-left: 10px;
      transition: 0.3s;
    }

    .tab-content {
      margin-left: 0px;
      transition: 0.3s;
    }

    .dashboard-content.active .tab-content {
      margin-left: 0px;
      transition: 0.3s;
    }

    .dashboard-backdrop {
      visibility: hidden;
    }

    .dashboard-backdrop.active {
      visibility: visible;
    }

    /* .toggle {
      display: none;
    } */

    .video-table{
      margin-left: -118px;
    }
  }