.menu:hover{
    cursor: pointer;
}

.sidenav{
    position: fixed;
    width: 180px;
    top: 56px;
    bottom:0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 101;
    transition: 0.2s;
    background: white;
}

.sidenav.active{
    width: 51px;
    transition: 0.2s;
    overflow-x: hidden;
}

.sidenav-logo{
    display: none;
}

.sidenav.active .sidenav-logo{
    display: none;
}

.sidenav.active .headline{
    display: none;
}

.sidenav.active .channel-logo{
    margin-left: -5px;
}

.body-content.active{
    margin-left: 51px;
    transition: 0.2s;
}

.body-content{
    transition: 0.2s;
    margin-top: 0px;
    margin-left: 180px;
}

.sidenav ul{
    list-style: none;
    padding: 5px 15px;
}

.sidenav h5{
    padding: 0px 15px;
    margin-top: -18px;
}

.sidenav ul li{
    padding: 6px 0;
}

.sidenav ul li:hover{
    cursor: pointer;
    color: green;
}

.sidenav ul li:hover i{
    color: green;
}

.sidenav i{
    font-size: 23px;
    color: rgb(104, 98, 98);
}

.sidenav p{
    padding: 0;
    margin: 0 15px;
    font-size: 16px;
}

.sidenav a{
    text-decoration: none;
    color: black;
    margin-top: -8px;
}

.sidenav ul li:hover a{
    cursor: pointer;
    color: green;
}

.sidenav .channel-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(0, 128, 0, 0.1);
}

.cname{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.backdrop{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    visibility: hidden;
}

@media screen and (max-width:891px) {
    .sidenav{
        width: 180px;
        overflow-x: hidden;
        top: 0;
        transition: 0.2s;
    }
    h5{
        display: none;
    }
    .library{
        display: none;
    }
    .body-content{
        margin-left: 51px;
        transition: 0.2s;
    }
    .sidenav.active{
        width: 51px;
        overflow-x: hidden;
        top: 91px;
        transition: 0.2s;
    }
    .navigation1{
        z-index: 98;
    }
    .sidenav.active .sidenav-logo{
        display: none;
    }
    .sidenav-logo{
        display: block;
    }
    .backdrop.active{
        visibility: hidden;
    }
    .backdrop{
        visibility: visible;
    }
}

@media screen and (max-width:550px) {
    .sidenav{
        width: 180px;
        overflow-x: hidden;
        top: 0;
        transition: 0.2s;
    }
    .sidenav-logo{
        display: block;
    }
    .body-content{
        margin-left: 0;
        transition: 0.2s;
    }
    .body-content.active{
        margin-left: 0;
        transition: 0.2s;
    }
    .sidenav.active{
        width: 0;
        top: 91px;
        transition: 0.2s;
    }
    .navigation1{
        z-index: 98;
    }
    .sidenav.active .sidenav-logo{
        display: none;
    }
    .sidenav-logo{
        display: block;
    }
    .backdrop.active{
        visibility: hidden;
    }
    .backdrop{
        visibility: visible;
    }
}